// Color Variables
$body-color: #fff;
$white: #fff;
$primary-color: #22BAFF;
$secondary-color: #fff;
$black: #000;
$text-color: #70787E;
$text-color-dark: #77797B;
$text-color-light: #acacac;
$border-color: #dedede;

// Font Variables
$primary-font: 'Cabin', sans-serif;
$icon-font: 'themify';
